<app-hero>
  <h1 *ngIf="hasError" style="color: red">WRONG CAR ID</h1>
  <h2 *ngIf="hasError" style="color: red">
    Please, go back to the previous page!
  </h2>
  <h1>EDIT YOUR CAR</h1>
  <h2>PLEASE USE THE BELOW FORM:</h2>

  <div *ngIf="isLoading">
    <app-loader />
  </div>

  <h1 *ngIf="!isOwner" style="color: red">YOU SHOULD NOT BE HERE!</h1>

  <div *ngIf="isOwner">
    <form
      [formGroup]="form"
      (ngSubmit)="onEditSubmitHandler()"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="exampleInputBrand" style="color: black; font-weight: bolder"
          >Description</label
        >

        <input
          type="string"
          class="form-control"
          id="exampleInputDescription"
          formControlName="description"
          placeholder="Car description"
          value="form.descripion"
        />

        <div *ngIf="form.get('description')?.touched">
          <p
            class="error"
            *ngIf="form.get('description')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Description is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('description')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Description length must be at least
            {{form.get('description')?.errors?.['minlength']['requiredLength']

            }}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputBrand" style="color: black; font-weight: bolder"
          >Brand</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputBrand"
          formControlName="brand"
          name="brand"
          placeholder="Car brand"
        />

        <div *ngIf="form.get('brand')?.touched">
          <p
            class="error"
            *ngIf="form.get('brand')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Brand is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('brand')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Brand length must be at least
            {{form.get('brand')?.errors?.['minlength']['requiredLength']}}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputModel" style="color: black; font-weight: bolder"
          >Model</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputModel"
          formControlName="model"
          name="model"
          placeholder="Car model"
        />

        <div *ngIf="form.get('model')?.touched">
          <p
            class="error"
            *ngIf="form.get('model')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Model is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('model')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Model length must be at least
            {{form.get('model')?.errors?.['minlength']['requiredLength']}}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label
          for="exampleInputEngine"
          style="color: black; font-weight: bolder"
          >Engine Type</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputEngine"
          formControlName="engine"
          name="engine"
          placeholder="Engine type"
        />

        <div *ngIf="form.get('engine')?.touched">
          <p
            class="error"
            *ngIf="form.get('engine')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Engine is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('engine')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Engine length must be at least
            {{form.get('engine')?.errors?.['minlength']['requiredLength']}}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputPower" style="color: black; font-weight: bolder"
          >Horsepower</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleInputPower"
          formControlName="horsepower"
          name="horsepower"
          placeholder="Horsepower"
        />

        <div *ngIf="form.get('horsepower')?.touched">
          <p
            class="error"
            *ngIf="form.get('horsepower')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Horsepower is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('horsepower')?.errors?.['min']"
            style="color: red; font-weight: bolder"
          >
            Horsepowe can't be 0!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputFuel" style="color: black; font-weight: bolder"
          >Fuel</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputFuel"
          formControlName="fuel"
          name="fuel"
          placeholder="Fuel"
        />

        <div *ngIf="form.get('fuel')?.touched">
          <p
            class="error"
            *ngIf="form.get('fuel')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Fuel type is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('fuel')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Fuel length must be at least
            {{form.get('fuel')?.errors?.['minlength']['requiredLength']}}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputColor" style="color: black; font-weight: bolder"
          >Color</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputColor"
          formControlName="color"
          name="color"
          placeholder="Color"
        />

        <div *ngIf="form.get('color')?.touched">
          <p
            class="error"
            *ngIf="form.get('color')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Color is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('color')?.errors?.['minlength']"
            style="color: red; font-weight: bolder"
          >
            Color length must be at least
            {{form.get('color')?.errors?.['minlength']['requiredLength']}}!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputYear" style="color: black; font-weight: bolder"
          >Year</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleInputYear"
          formControlName="year"
          name="year"
          placeholder="Year"
        />

        <div *ngIf="form.get('year')?.touched">
          <p
            class="error"
            *ngIf="form.get('year')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Year is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('year')?.errors?.['min']"
            style="color: red; font-weight: bolder"
          >
            Car can't be older than 1900!
          </p>
        </div>
      </div>

      <div class="form-group">
        <label
          for="exampleInputImageUrl"
          style="color: black; font-weight: bolder"
          >Image URL</label
        >
        <input
          type="string"
          class="form-control"
          id="exampleInputimageUrl"
          formControlName="image"
          name="image"
          placeholder="Image URL"
        />

        <div *ngIf="form.get('image')?.touched">
          <p
            class="error"
            *ngIf="form.get('image')?.errors?.['required']"
            style="color: red; font-weight: bolder"
          >
            Image URL is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('image')?.errors?.['carImageValidator']"
            style="color: red; font-weight: bolder"
          >
            Image URL must start with http:// or https://!
          </p>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</app-hero>
