
  body{
    background:#f5f5f5;
    margin-top:20px;}
/*------- portfolio -------*/
.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}
.rounded {
    border-radius: 5px !important;
}







/* LOADER */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
}
100% {
    -moz-transform: rotate(360deg);
}
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
}
100% {
    -o-transform: rotate(360deg);
}
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
.loading-container {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .55);
}
.loading-container.loading-inactive {
  display: none;
}
.loading-container.loading-inactive .loading-progress {
  display: none;
}
.loading-container .loading-progress {
  z-index: 2000;
  position: fixed;
  height: 10px;
  width: 10px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-container .loading-progress .rotator {
  -webkit-animation: spin 30s infinite linear;
  -moz-animation: spin 30s infinite linear;
  -o-animation: spin 30s infinite linear;
  animation: spin 30s infinite linear;
}
.loading-container .loading-progress>.rotator {
  left: -100px;
}
.loading-container .rotator {
  -webkit-background-origin: border-box;
  -moz-background-origin: border-box;
  background-origin: border-box;
  background-color: #fff;
  width: 200px;
  height: 7px;
  opacity: .75;
  position: absolute;
  top: 0;
  left: 0;
}
.loading-container .colored {
  background-color: #2dc3e8!important;
}