<app-hero>
  <div *ngIf="hasError">
    <h1>Wrong car ID!</h1>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <a routerLink="/cars/all" class="btn btn-primary">Go to All Cars</a>
  </div>

  <div class="hero-container" data-aos="fade-up" *ngIf="!hasError">
    <h1>{{ car?.brand }} {{ car?.model }}</h1>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />

    <div *ngIf="isLoading">
      <app-loader/>
      </div>

    <div class="container" *ngIf="!isLoading">
      <div class="row">
        <div class="col-md-5">
          <div class="project-info-box mt-0">
            <h5>About:</h5>
            <p class="mb-0">{{ car?.description }}</p>
          </div>
          <!-- / project-info-box -->

          <div class="project-info-box">
            <p><b>Brand:</b> {{ car?.brand }}</p>
            <p><b>Model</b> {{ car?.model }}</p>
            <p><b>Engine</b> {{ car?.engine }}</p>
            <p><b>Horsepower</b> {{ car?.horsepower }}</p>
            <p><b>Fuel</b> {{ car?.fuel }}</p>
            <p><b>Color</b> {{ car?.color }}</p>
            <p><b>Year</b> {{ car?.year }}</p>
            <p><b>Owner</b> {{ car?.owner?.username }}</p>
            <!-- <p><b>Likes</b> {{ car?.likes?.length }}</p> -->
            <p><b>Likes</b> {{ likesCounter }}</p>
          </div>
          <!-- / project-info-box -->

          <div class="project-info-box mt-0 mb-0" *ngIf="hasUser">
            <p class="mb-0" *ngIf="!isOwner">
              <span class="fw-bold mr-10 va-middle hide-mobile"></span>

              <button (click)="likeCar()" *ngIf="!hasLiked" class="btn btn-primary">LIKE</button>
              <span *ngIf="hasLiked" style="font-weight: bolder; color: brown;">You have already liked this car!</span>
            </p>

            <p class="mb-0" *ngIf="isOwner">
              <span class="fw-bold mr-10 va-middle hide-mobile"></span>

              <button routerLink="/cars/{{ car?._id }}/edit" class="btn btn-primary">EDIT</button>
              <button (click)="deleteCar()" class="btn btn-primary">DELETE</button>
            </p>
          </div>
          <!-- / project-info-box -->
        </div>
        <!-- / column -->

        <div class="col-md-7">
          <img src="{{ car?.image }}" alt="project-image" class="rounded" />
          <!-- / project-info-box -->
        </div>
        <!-- / column -->
      </div>
    </div>
  </div>
</app-hero>
