<app-hero>

    <div class="center">
    
    <div class="loading-container" *ngIf="isLoading">
      <div class="loading-progress">
          <div class="rotator">
              <div class="rotator">
                  <div class="rotator colored">
                      <div class="rotator">
                          <div class="rotator colored">
                              <div class="rotator colored"></div>
                              <div class="rotator"></div>
                          </div>
                          <div class="rotator colored"></div>
                      </div>
                      <div class="rotator"></div>
                  </div>
                  <div class="rotator"></div>
              </div>
              <div class="rotator"></div>
          </div>
          <div class="rotator"></div>
      </div>
  </div>


    <h1>Full list of all our users awesome cars</h1>

    <div *ngIf="!isLoading" class="row" style="gap: 1rem;">
      <div class="card" style="width: 18rem;" *ngFor="let car of allCars">
        <img src={{car.image}} class="card-img-top"  style="height: 60%;" alt="...">
        <div class="card-body" style="height: 40%;">
          <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
          <p class="card-text">{{car.description | shortenText}}</p>
          <p class="card-text">Added by: {{car.owner.username}}</p>
          <a routerLink="/cars/{{car._id}}/details" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

  </div>
</app-hero>