<section id="hero">

  <div class="loading-container" *ngIf="isLoading">
    <div class="loading-progress">
        <div class="rotator">
            <div class="rotator">
                <div class="rotator colored">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator colored"></div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator colored"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
        <div class="rotator"></div>
    </div>
</div>

  <div class="hero-container" data-aos="fade-up" *ngIf="!isLoading">
    <h1>You are looking for a particular car?</h1>
    <h2>Use our awesome search function to find it!</h2>

    <h2>Enter car brand here:</h2>
    <div>
      <form
        #brandForm="ngForm"
        class="d-flex"
        role="search"
        (ngSubmit)="searchBrand(brandForm)"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Brand..."
          aria-label="Search"
          name="brand"
          ngModel
          #inputBrandSearch="ngModel"
        />
        <button
          class="btn btn-outline-success"
          style="color: white; background-color: rgb(4, 4, 138)"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>

    <h2>Enter car model here:</h2>
    <div>
      <form
        #modelForm="ngForm"
        class="d-flex"
        role="search"
        (ngSubmit)="searchModel(modelForm)"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Model..."
          aria-label="Search"
          name="model"
          ngModel
          #inputModelSearch="ngModel"
        />
        <button
          class="btn btn-outline-success"
          style="color: white; background-color: rgb(4, 4, 138)"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>

    <h1  *ngIf="!hasResult">Unfortunately Nothing was found!</h1>

    <div *ngIf="filteredCars.length > 0" class="row" style="gap: 1rem;">

      <div class="card" style="width: 18rem;" *ngFor="let car of filteredCars">
        <img src={{car.image}} class="card-img-top"  style="height: 60%;" alt="...">
        <div class="card-body" style="height: 40%;">
          <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
          <p class="card-text">{{car.description | shortenText}}</p>
          <p class="card-text">Added by: {{car.owner.username}}</p>
          <a routerLink="/cars/{{car._id}}/details" class="btn btn-primary">Details</a>
        </div>
      </div>


    </div>

  </div>
</section>
